# بيئة افتراضية
env/
venv/

# ملفات بايثون المؤقتة
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ملفات قاعدة البيانات
*.sqlite3

# إعدادات VSCode
.vscode/

# ملفات الترجمة المترجمة تلقائيًا
*.mo
*.pot

# ملفات static بعد التجميع (تُنشأ بـ collectstatic)
staticfiles/

# ملفات media (يفضل تجاهلها إلا إذا كنت تريد تتبعها)
media/

# ملفات سجل التتبع
*.log

# ملفات النظام
.DS_Store
Thumbs.db
